<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA34YKXQ1ApmFXZQ-zoNTTSAujWFhZ4JA0</string>
	<key>GCM_SENDER_ID</key>
	<string>411898068358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.firebaseAppBradford</string>
	<key>PROJECT_ID</key>
	<string>fir-appbradford</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-appbradford.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411898068358:ios:d92f03365f26e7ea74c007</string>
</dict>
</plist>